include NEWS
include COPYING
include README.md
include *requirements.txt

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-include sopel_modules/SpiceBot_GifSearch/gifapi *
recursive-include sopel_modules/SpiceBot_Configs/aiml *
