[Unit]
Description=Sopel IRC bot
Documentation=http://sopel.chat/
After=network.target

[Service]
Type=simple
User=sopel
PIDFile=/run/sopel/sopel-SpiceBotSERV.pid
ExecStart=/usr/local/bin/sopel -c /home/sopel/.sopel/SpiceBot.cfg
Restart=on-failure
RestartPreventExitStatus=2
RestartSec=30
Environment=LC_ALL=en_US.UTF-8

[Install]
WantedBy=multi-user.target
